html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', system-ui, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body * {
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    overflow-x: auto;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #F1F1F8;
    padding: 12px;
}

.card {
    max-width: 600px;
    background-color: #fff;
    padding: 48px;
    border-radius: 12px;
    border: 1.5px solid #0000A1;
    box-shadow: 4px 4px 0px #0000A1;
    margin: auto 0;
}

.logo {
    margin-bottom: 24px;
    max-width: calc(100vw - 120px);
}

.logos {
    margin-top: 32px;
    display: grid;
    gap: 16px;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.logos > span {
    font-size: 12px;
    color: #777;
}

a {
    color: #00f;
    text-decoration: none;
    font-weight: 550;
    transition: color 0.2s ease;
}

a:hover {
    color: #0000A1;
}

p {
    line-height: 1.5;
    margin-bottom: 8px;
    margin-top: 0px;
}

hr {
    border: 0;
    height: 1px;
    background-color: #F1F1F8;
    margin-top: 32px;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300 800;
    font-display: swap;
    src: url(./Inter.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media(max-width: 400px) {
    main {
        padding: 8px;
    }

    .card {
        padding: 24px;
    }
    
    .logos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .logos > *:nth-child(2) {
        order: 3;
    }
    .logos > *:nth-child(3) {
        order: 5;
    }
    .logos > *:nth-child(4) {
        order: 2;
    }
    .logos > *:nth-child(5) {
        order: 4;
    }
    .logos > *:nth-child(6) {
        order: 6;
    }
}

.answer {
    margin-top: 0em;
    margin-bottom: 0.2em;
    font-size: 3em;
    color: #00f;
}

.explainer {
    color: #00000066;
    font-size: 10px;
    margin-bottom: 24px;
}